.auth {
    background: radial-gradient(circle at top left, #4f67c8, #434e9e20);
    overflow: hidden;
    min-height: 100vh;
}

.auth .content {
    position: relative;
    z-index: 1;
}

.auth .logo {
    margin-top: 20px;
}

.auth .authcontent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth .authcontent .box {
    backdrop-filter: blur(20px);
    background-color: #ffffff22;
    border: 1px solid #ffffff3f;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
}


.auth .authcontent .box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.auth .authcontent .box input {
    padding: 15px;
    border-radius: 20px;
    border: 0;
    font-family: p;
    font-size: 18px;
}

.auth .authcontent .box button {
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.auth .authcontent .box h1 {
    margin-bottom: 40px;
    font-size: 50px;
}

.auth .authcontent .box a {
    text-decoration: underline;
}

.auth .authcontent .box .name {
    display: flex;
    gap: 10px;
}