.home {
    background: linear-gradient(#4f67c8, #344896d0);
    overflow: hidden;
    min-height: 100vh;
}

.home .logo{
    margin-top: 20px;
}

.home .cover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    gap: 30px;
    padding-bottom: 50px;
}

.home .cover .title {
    flex: 1;
    margin-top: 100px;
}

.home .cover .title p {
    width: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    border: 1px solid #fff;
}

.home .cover .title h1 {
    background: -webkit-linear-gradient(#fff, #ffffff88);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home .cover .title button {
    margin-top: 60px;
    position: relative;
    z-index: 2;
}

.home .cover .image {
    flex: 1;
    text-align: center;
}

.home .cover .image img {
    rotate: 20deg;
    animation: floating 3s ease-in-out infinite, rotation 100s infinite linear;
    transition: 4s;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.home .cover .image img:hover {
    scale: 1.1;
}

@media(max-width: 899px) {
    .home .cover .image img {
        max-width: 500px;
        max-height: 500px;
    }
}

@media(max-width: 699px) {
    .home .cover .image img {
        max-width: 400px;
        max-height: 400px;
    }
}

@media(max-width: 499px) {
    .home .cover .image img {
        max-width: 300px;
        max-height: 300px;
    }
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}

.home .cover .title h1 {
    font-size: 80px;
    line-height: 90px;
}

@media(max-width: 550px) {
    .home .cover .title h1 {
        font-size: 60px;
        line-height: 70px;
    }
}

@media(max-width: 400px) {
    .home .cover .title h1 {
        font-size: 50px;
        line-height: 60px;
    }
}